header {
  background: linear-gradient(to top,transparent,#023A07);
}
#logo {
	display: flex;
	width: 320px;
	margin-left: 40%;
	margin-right: auto;
	margin-bottom: -165px;
	overflow: hidden;
	pointer-events: none;
    
}
.nav {
    text-align: center;
	overflow: hidden;

}

.nav li {
  display: inline;
  margin-right: 1em;
}
.nav a {
  float: left;
  font-family: "East Anglia";
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover, a:visited, a:link, a:active{
	text-decoration: none;
}
 body {
	 background-image: url("Media/Port_Town_Flyby_Camera1_1_263.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
    }
#Portfolio{
	background-image: url("Illustrations/Tealara.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
#About{
	min-height: 100vh;
	background-image: url("Illustrations/Red Gulf-Recovered.png");
	background-position: center;
}
#demo_reel{
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
}
#hs{
	float: left;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	overflow: hidden;
	margin-top: 5%;
	margin-left: 25%;
}
.circle{
	height: 300px;
	margin-left: -135px;
	
	
}
#t-text{
	background-color: rgba(100, 100, 100, 0.75);
	font-size: 24px;
	text-indent: 6em;
	width: 50%;
	margin-right: 10%; 
	float: right;
	margin-top:6%;
	font-family: "DejaVu Serif", Georgia, "serif"
	
}
.c_all{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#move{
	margin: 100px;
}
.text-drop {
  position: relative;
  text-align: center;
  font-size:50px;
  font-family: "Palatino Linotype";
  font-weight: 900;
}
.words{
	opacity:0;
  	animation: drop 1s linear forwards;
  	color: black;
}
.person{
	text-align: right;
	opacity:0;
  	animation: drop .8s linear forwards 2s;
  	color: black;
}
@keyframes drop {
  0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
  5% {opacity: .7;}
  50% {transform: translateY(0px) scaleY(1); opacity: 1;}
  65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
  75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1); opacity: 1;}
}

/* use media query to change the layout */
@media (max-width:780px){
	#text_t{
		font-size: 20px;
	}
}
@media  (min-width: 768px) {
    body {
		background-color: #023A07;
    }
    .nav {
        margin-top: -44px;
    }

    .nav li:nth-child(1), .nav li:nth-child(2) {
        float: left;
    }

    .nav li:nth-child(3), .nav li:nth-child(4) {
        float: right;
    }
}
ul{
	list-style-type: none;
}
.fmig{
	float: bottom;
	margin-left: 10px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	
}
.align-bottom{
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: baseline;
	justify-content: center;	
}
footer{
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	background: linear-gradient(to bottom, transparent, #023A07);
}


