a.clearfix{
  overflow: auto;
}
p {
  color:#55d6aa;
}
h2{
  color:#55d6aa;
}
h1{
  color:#55d6aa;
}
body {
  width: 100%;
  height:100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 70px;
  background-color: #222;
  font-weight: 800;
  font-size: 1.4vw;
  overflow: auto;
}
#myHeader{
  width:100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  height: 80px;
  width:140px;
  float: left;
  padding: 5px;
  align-self: top;
}

nav {
  float: center;
  display: inline-flex;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.5vw;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
button{
  background-color:#55d6aa; 
  border: none;
  border-radius: 2px;
  color: #444;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
button:hover{
  box-shadow: 0 12px 16px 0 
  rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#anim{
	align-content: center;
	padding-top: 25px;
}
.galImg{
	max-height: 300px;
	max-width: 350px;
	margin:20px;
	height: auto;
	width: auto;
}
	
.col{
	width: 20%;
	height: auto;
	display: inline;
	
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
footer{
  background: #55d6aa;
  position: fixed;
  bottom:0;
  margin-top: 100px;
  width:100%;   
  padding-top:0px;
  display: inline-block;
}
ul li{
  display: inline-block;
  float: left;
}
.sDiv{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.Gimage{
	margin: 50px;
	width: auto;
	height: auto;
}
.Sicon{

  width: 48px;
  height: 48px;
}
.section{
	text-align:justify;
	width: 85%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.Eblock{
	margin: 15px
}
.subject{
	width: 60%;
	float: left;
}
.title{
	text-align: center;
}

.date{
	width: 40%;
	float: right;
}
.desc{
	width: 100%;
}



